.score, .prompt {
    float: left;
    font-size: 40px;
    font-weight: bold;
    color: #394b39;
    text-align: center;
    height: 192px;
    width: 100%;
}

.prompt {
    /*background-color: #d8ffff;*/
    height: 70px;
}

.score {
    padding-top: 44px;
}

.buttonCont {
    width: 320px;
    height: 50px;
    margin: 0 auto;
}

.flipCard {
    /*position: absolute;*/
    margin-left: 0.5%;
    margin-top: 25px;
    float: left;
    font-size: 50px;
    font-weight: bold;
    color: red;
    /*border: 2px solid;*/
    text-align: center;
    height: 100px;
    width: 10.5%;
}

.flipCard .front {
    /*border: 2px solid white;*/
    background-color: darkseagreen;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

}

.flipCard .back {
    /*border: 2px solid white;*/
    background-color: salmon;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContainer {
    width: 100%;
    height: 150px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: #394b39;
    margin: 0 auto;
    position: relative;

}

.section {
    clear: both;
    padding: 0px;
    margin: 0 auto;
}

body {
    font-family: 'Oxygen', sans-serif;
    min-width: 930px;
    max-width: 930px;
    margin: 0 auto;
}

.stbCont {
    border: 2px solid;
    border-color: #394b39;
    min-width: 930px;
    max-width: 930px;
    margin: 0 auto;
}

header {
    color: #394b39;
    background-color: #e8e8e8;
    text-align: center;
    font-size: 3em;
    margin: 0 auto;
    width: 100%;
}
footer{
    color: #394b39;
}

.row {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    /*margin: 0 auto;*/
    width: 50%;
    height: 156px;
    /* padding-left: 10%; */
    padding-top: 13%;
    /*border: 1px solid;*/
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85);
}

.btnWrapper {
    width: 50%;
    height: 288px;
    border-left: 2px solid;
    border-color: #394b39;
}

.startWrapper {
    display: flex;
    background-color: #e8e8e8;
    text-align: center;
    width: 48%;
    height: 288px;
    font-size: 50px;
    font-weight: bold;
    align-items: center;
}

#reset {
    margin-left: 20px;
}

button {
    width: 150px;
    height: 50px;
    /*margin-left:auto;margin-right:auto;*/
    /*/!*border-style: dashed;*!/*/
    /*/!*border-color: #222;*!/*/
    /*/!*border-width: 1px;*!/*/
    /*/!*-webkit-border-radius: 2px;*!/*/
    /*/!*-moz-border-radius: 2px;*!/*/
    /*/!*border-radius: 2px;*!/*/
    /*color: #000;*/
    font-size: 2em;
    /*/!*font-family: 'Shadows Into Light', cursive;*!/*/
    /*font-weight: bold;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
}

button:hover {
    color: #fff;
}

button:focus {
    outline: 0;
}

button:active {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
}

button:disabled {
    background: rgba(255, 52, 154, 0.1);
}

button {
    width: 150px;
    height: 50px;

    font-family: 'Oxygen', sans-serif;
    background-color: darkseagreen;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:24px;
    font-weight:bold;
    padding:7px 12px;
    text-decoration:none;
}
button:hover {
    background-color: darkgreen;
}
.myButton:active {
    position:relative;
    top:1px;
}

button:disabled {
    background: salmon;
}

